[Unit]
Description=Amazon Alexa
After=network.target network-online.target

[Service]
Type=forking
ExecStart=/home/__USER__/Assistants-Pi/Alexa/start.sh


[Install]
WantedBy=multi-user.target
