[Unit]
Description=Companion Service
After=network.target

[Service]
Environment=PATH=/home/__USER__/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/bin/python -u /home/__USER__/Assistants-Pi/Alexa/alexa.py
WorkingDirectory=/home/__USER__/
StandardOutput=tty
StandardError=tty
Restart=always
StandardError=null
TTYPath=/dev/tty12
User=__USER__

[Install]
WantedBy=multi-user.target
