[Unit]
Description=Companion Service
After=network.target

[Service]
Environment=PATH=/home/${USER}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/bin/python -u /home/${USER}/Assistants-Pi/Alexa/alexa.py
WorkingDirectory=/home/${USER}/
StandardOutput=tty,
StandardError=tty
Restart=always
User=${USER}

[Install]
WantedBy=multi-user.target
