[Unit]
Description=Mycroft Assistant
After=network.target

[Service]
Environment=PATH=/home/__USER__/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/bin/bash /home/__USER__/Assistants-Pi/Mycroft/mycroftstart.sh
WorkingDirectory=/home/__USER__/
StandardOutput=tty,
StandardError=tty
Restart=always
User=__USER__

[Install]
WantedBy=multi-user.target
