[Unit]
Description=Wakeword Service
After=network.target companionapp.service client.service
Requires=companionapp.service client.service

[Service]
Environment=PATH=/home/pi/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/bin/bash /home/pi/Assistants-Pi/scripts/wakeword.sh
WorkingDirectory=/home/pi/
StandardOutput=tty,
StandardError=tty
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
